html body .FormPage {
  min-height: 100%;

  .Form {
    div {
      margin: 10px 0;
    }

    .label {
      display: block;
      padding: 1rem 0 0.5rem;
      font-size: 1rem;
    }

    input {
      font-size: 1rem;
      color: #333;
      font-family: 'Open Sans', sans-serif;
      padding: 0.8rem 1rem;
      border-radius: 5px;
      border: none;
      width: 100%;
    }

    .FriendRow {
      display: flex;
      justify-content: space-between;

      >* {
        padding: 0 10px;
        min-width: 50px;
        width: 45%;

        &:last-child {
          width: 10%;
        }
      }

      .Button {
        margin: 0;
        width: 100%;
      }
    }

    .Errors {
      padding: 1rem 0;
      text-align: center;
    }
  }
}
