.Welcome {
  height: 100%;
  display: flex;
  align-items: center;

  .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    margin: 1rem 0;
  }
}
